@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Montserrat-Bold.eot');
    src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat-Bold.ttf') format('truetype'),
    url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');

    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Montserrat-Regular.eot');
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');

    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Semibold';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
    url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');

    font-display: swap;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #ffffff;
    font-family: 'Montserrat-Regular';
    font-size: 15px;
}

input,
textarea,
select,
button {
    color: #ffffff;
    font-family: 'Montserrat-Regular';
    font-size: 15px;
}

p,
h1,
h2,
h3,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}


.form-wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('../images/bg-contact-form.png') no-repeat;
    background-size: cover;
}

.inner-wrapper {
    max-width: 800px;
    margin: auto;
    padding: 85px 100px;
    border: 7px solid #f27245;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    margin-bottom: 55px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 34px;
}

.form-wrapper img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
}

input:-webkit-autofill {
  transition: all 5000s ease-in-out;
}

.form-group {
    position: relative;
    display: block;
    margin-bottom: 50px;
}

.form-group span {
    position: absolute;
    top: 2px;
    color: #00ade6;
    font-size: 16px;
    cursor: text;
    transition: all 0.2s ease;
    transform-origin: 0 0;
}

.form-group span.border {
    position: absolute;
    top: 42px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: all 0.15s ease;
    transform: scaleX(0);
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #00ade6;
    background: none;
    font-family: 'Montserrat-SemiBold';
    font-size: 16px;
}

/* .form-control:invalid {
  border: 1px solid red;
} */

.form-control:focus + span,
.form-control:valid + span {
    transform: translateY(-20px) scale(0.8);
}

.form-control:focus span.border,
.form-control:valid span.border {
    transform: scaleX(1);
}

button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: 50px;
    margin: auto;
    margin-top: 60px;
    padding: 0;
    border: none;
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat-SemiBold';
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color;
    transform: perspective(1px) translateZ(0);
}

button:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #2098d1;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

button:hover {
    border-color: transparent;
}

button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Modal */

.modal-wrapper.show {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup {
    display: none;
    animation-name: showModal;
    animation-duration: 0.5s;
}

@keyframes showModal {
    from {
        top: 0;
        opacity: 0;
    }

    to {
        top: 28%;
        opacity: 1;
    }
}

.popup.open {
    position: fixed;
    top: 28%;
    left: 50%;
    display: block;
    width: 45rem;
    padding: 45px 100px;
    border: 7px solid #2098d1;
    background: #543c3c;
    transform: translateX(-50%);
}

span.close-modal {
    position: absolute;
    top: -2rem;
    right: -3.5rem;
    border: none;
    background: transparent;
    color: #ffffff;
    font-size: 3rem;
}

h2 {
    margin-bottom: 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    line-height: 1.5;
}

.popup_form > div {
    display: flex;
}

.popup button {
    margin-top: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    .inner-wrapper {
        padding: 27px 20px 37px;
        border: none;
        box-shadow: none;
    }

    .form-wrapper {
        border: 5px solid #f27245;
    }
}
